* {
    margin: 0px;
    padding: 0px;
}

body {}

header {
    background-image: url(../asset/image/background.jpg),
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-section {
    height: 10vh;
    background-color: rgb(99, 98, 98);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px;
}

nav .nav-right>ul {
    display: flex;

}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
    padding: 12px 18px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #F94C30;
}